{%- if section.settings.show_announcement -%}
  <section>
    <div class="announcement-bar">
      <div class="announcement-bar-left-section">
        {% if customer %}
          {{ customer.default_address.city }}
        {% else %}
          <p>Welcome, guest!</p>
        {% endif %}
      </div>
      <div class="announcement-bar-right-section">
        <ul class="announcement-bar-inner-list">
          {%- if section.blocks.size == 0 -%}
            {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <li>
                  <a href="/account">Account</a>
                </li>
              {% else %}
                <li>
                  <a href="/account/login">Sign in</a>
                </li>
              {% endif %}
              <li>
                <a href="/account/login">Whishlist</a>
              </li>
              <li>
                <a href="/account/login">Loyalty</a>
              </li>
              <li>
                <a href="/cart">
                  <img
                    width="25"
                    height="25"
                    loading="lazy"
                    src="{{ 'd.png' | asset_url }}"
                  >
                </a>
              </li>
              <form action="/search" class="form-wrapper">
                <input class="search-nav" placeholder="search" type="search">
                <img
                  width="25"
                  height="25"
                  loading="lazy"
                  src="{{ 'search.png' | asset_url }}"
                >
              </form>
            {% endif %}
          {%- else -%}
          {%- endif -%}
        </ul>
      </div>
    </div>
  </section>

  <style>
    .announcement-bar {
      background: {{ section.settings.background }}
      ;
      color: {{ section.settings.text_color }}
      ;
    }
    .announcement-bar-right-section{
      display:flex;
      align-items:center;

    }
    .form-wrapper{
      display:flex;
      align-items:center;
      justify-content:center;
      border-bottom: 2px solid #000;
      margin: 0 11px;
    }
    .search-nav{
      width:71px;
       border: none;
      outline: none;
    }
    .search-nav:focus{
        border: none;
        outline: none;
    }
  </style>

  <script></script>
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "image",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "image2",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "name": "Links",
      "type": "links",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "link"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
