{% paginate collection.products by 8 %}
  <section class="collection-sec">
    <div class="top-bar">
      <span><a href="/">Home </a>&raquo; {{ collection.title }}</span>
      <div class="filter-wrap">
        <p>Sort By:</p>
        <select id="sort-by">
          {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
          {% for option in collection.sort_options %}
            <option
              value="{{ option.value }}"
              {% if option.value == sort_by %}
                selected="selected"
              {% endif %}
            >
              {{ option.name }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
      "
    >
      <div class="products-grid">
        {% for product in collection.products %}
          {% render 'product-card', product:product %}
        {% endfor %}
      </div>
    </div>
      {%  render 'pagination' , paginate:paginate %}
  </section>
{% endpaginate %}

<style>
  .collection-sec {
    background: {{ section.settings.background }}
    ;
    color: {{ section.settings.text_color }}
    ;
    padding: 10px;
    display: flex;
    flex-direction:column;
  }
  .collection-sec a{
    text-decoration:none;
    color:#000000a8;
  }
  .top-bar{
    display: flex;
    color:#000000a8;
    flex-direction: column;
    padding: 24px 57px;
    gap:30px
  }
  .filter-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  #sort-by {
    padding:10px;
  }
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);    /* Three columns */
    justify-items: center;
    width:86%;
  }

  
  
</style>

<script>
  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function (e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>

{% schema %}
{
  "name": "collection",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "collection"
    }
  ]
}
{% endschema %}
