<section>
  {% if search.performed %}
    <div>
      Here's your results for <strong> {{ search.terms }}</strong>
    </div>

    {% for result in search.results %}
      {% if result.object_type == 'product' %}
        <div class="product-card">
          <a href="{{ result.url }}">
            <img
              width="300"
              height="330"
              loading="lazy"
              src="{{ result.featured_image | image_url}}"
            >
            <div class="product-data">
              <p>{{- result.title }}</p>
              <p>{{- result.price | money }}</p>
            </div>
          </a>
        </div>
        {% endif %}
    {% endfor %}
  {% else %}
    <h1>not results found!</h1>
  {% endif %}
</section>

{% schema %}
{
  "name": "search",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "search"
    }
  ]
}
{% endschema %}
