<section>
  <div class="three-images-wrapper">
    {%- if section.settings.image != blank -%}
      <div class="one-user">
        <h1></h1>
      </div>
    {%- else -%}
      <div class="one">
        <div class="bottom-left-text">
          <p>FASHION</p>
          <h3 style="font-size: 38px;">High-Impact Skiwear</h3>
          <p>VIEW AND SHOP</p>
        </div>
      </div>
    {%- endif -%}
  </div>
</section>

<style>
  .three-images-wrapper {
    display: flex;
  }

  .one {
    background-image: url("{{ 'bg.jpg' | asset_url }}");
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .one::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at bottom left,
                rgba(0,0,0,0.8) 0%,
                rgba(0,0,0,0.5) 30%,
                rgba(0,0,0,0) 70%);
    pointer-events: none;
  }
  
  .bottom-left-text {
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: absolute;
    bottom: 55px;
    left: 55px;
    color: white;
    margin: 0;
    z-index: 1;
  }

  .one-user {
    background-image: url("{{ section.settings.image | image_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .two {
    background-image: url("{{ 'two.png' | asset_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .two-user {
    background-image: url("{{ section.settings.image2 | image_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .three {
    background-image: url("{{ 'three.png' | asset_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .three-user {
    background-image: url("{{ section.settings.image3 | image_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
</style>

{% schema %}
{
  "name": "three-images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "image",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "image2",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "image3",
      "info": "400 x 120px .png recommended"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "three-images"
    }
  ]
}
{% endschema %}
